# Maven build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Java specific
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# Temporary files
*.tmp
*.swp
*.swo

# Reports
surefire-reports/
cucumber-report/
allure-results/
allure-report/
